<div class="news">
  {% assign certif_files = site.certif | where_exp: "item", "item.path contains '_certificados'" %}
  {% if certif_files.size > 0 %}
    {% assign certif_size = certif_files | size %}
    <div
      class="table-responsive"
      {% if include.limit and certif_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign certif = certif_files | reverse %}
        {% if include.limit %}
          {% assign certif_limit = include.limit %}
        {% else %}
          {% assign certif_limit = certif_size %}
        {% endif %}
        {% for item in certif limit: certif_limit %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No certif so far...</p>
  {% endif %}
</div>
